#### creating environment variable!!

In [48]:
import os
os.environ["GOOGLE_API_KEY"]="AIzaSyAjEGxP6kezlPGu4NTFTId3KsYLldzCMro"

In [49]:
!pip install -q -U google-generativeai

In [50]:
!pip install PyMuPDF

Requirement already satisfied: PyMuPDF in c:\users\sneh\appdata\local\programs\python\python312\lib\site-packages (1.24.11)

In [51]:
import fitz

def extract_text_from_pdf(pdf_path):
    text = ""
    with fitz.open(pdf_path) as pdf:
        for page in pdf:
            text += page.get_text()
    return text

pdf_path = "Sneh_220123062.pdf"  # Change this to your PDF file path
extracted_text = extract_text_from_pdf(pdf_path)
#print(extracted_text)

pdf_path ="Sneh_220123062.pdf"  # Change this to your PDF file path
extracted_text2 = extract_text_from_pdf(pdf_path)

In [52]:
import google.generativeai as genai
import os

# Retrieve the API key from environment variables
GOOGLE_API_KEY = os.getenv('GOOGLE_API_KEY')
genai.configure(api_key=GOOGLE_API_KEY)

In [53]:
model = genai.GenerativeModel('gemini-pro')

In [54]:
#instruction1 = " You are a brilliant resume summarizer .Summarize the following resume mentioning eductaion , skills , projects , achievement and work experience :-   "

In [55]:
instruction1 =''' You are a brilliant resume summarizer .Using the following example , summarize resumes in the exact format as given below.
 For example resume :-
 Udbhav Gupta +91-8107223633
Roll No.:220101106 udbhavgupta0305@gmail.com
B.Tech - Computer and Science Engineering udbhav@iitg.ac.in
Indian Institute Of Technology, Guwahati linkedin.com/in/Udbhav Gupta
Education
Degree/Certificate Institute/Board CGPA/Percentage Year
B.Tech. Major Indian Institute of Technology, Guwahati 8.86 (Current) 2022-Present
Senior Secondary CBSE Board 92.2% 2022
Secondary CBSE Board 94.8% 2020
Projects
• DocChain , A Complete Solution to Digital Identity Jan 2024 - Feb 2024
First Prize Winner in Inter Hostel Technical Competition Github
– Orchestrated backend architecture for blockchain-powered digital identity platform.
– Implemented blockchain solutions for claims, voting, and property access management.
– Leveraged Solidity, Third-Web SDK, and MetaMask Wallet API for seamless integration.
• Live Points Leaderboard May 2023 - June 2023
Coding Club , IIT Guwahati Github
– Designed interactive leaderboard using JavaScript, HTML, and CSS for user-friendly contributor ranking.
– Integrated live API data for real-time display of top contributors by points.
• Diabetic Macular Edema Segmentation in OCT Images Oct. 2023 - Nov. 2023
Coding Club , IIT Guwahati Github
– Utilized UNet for diabetic macular edema in OCT images, enabling detailed analysis beyond classification.
– Trained segmentation on 10 MATLAB files housing 61 retina images, advancing medical imaging insights.
Skills
• Programming: Python*, C/C++, Solidity*
• Web Technologies: HTML ,CSS ,JavaScript*
• Tools/Frameworks: Keras*, Tensorflow*, Pytorch*
• Operating Systems:Windows, Linux* * Elementary proficiency
Achievements
• JEE Mains 2022, Secured an All India Rank of 371 among 1.2 million candidates appearing for the test 2022
• JEE Advanced 2022, Secured an All India Rank of 514 out of 250,000 candidates appearing for the test 2022
• KVPY SA 2020, Obtained the National research fellowship scholarship by securing an AIR of 871 2020
• KVPY SX 2021, Secured a CRL Rank of 993 among 100,000 candidates appearing for the test 2021
• Codeforces, Secured World Rank of 430 in Round 918 - Highest Rating 1501 (Specialist) 2023
• Reliance Foundation Undergraduate Scholarship, Awardee for Academic Excellence 2023
• ICPC-de-Tryst , IIT Delhi, Attained 68th rank in a competitive programming competition. 2024
• STSE 2020, Attained 11th rank in the State examination administered by the Rajasthan Board. 2020
• ML Hackathon , IITG.Ai, Secured third position among 155 candidates in the ML focused Hackathon. 2023
• Kriti CP Competition, Awarded Gold Medal for achieving 1st place in the competitive programming event 2023
• Kriti CTF Competition, Secured 1st rank in the Cybersecurity event 2023
Key courses taken
–Mathematics: Linear Algebra, Basic Calculus, Probability & Random Processes
–Computer Science: Data Structures and Algorithms, Introduction to Computing
–MOOC’s: Neural Networks and Deep Learning , Convolutional Neural Networks by Deep Learning.AI
Positions of Responsibility
– Coordinator, Coding Club, IIT Guwahati July. 2023 - July. 2024
∗ Conducted various workshops and took part in projects related to ML and Web Development
– Associate, Consulting and Analytics Club, IIT Guwahati May. 2023 - May. 2024
∗ Contributed in organizing workshops and discussions centered around Consulting and Analytics within the club

Summary :-

Name :- Udbhav Gupta
Degree:- B.Tech - Computer and Science Engineering
College:- Indian Institute Of Technology, Guwahati
**Education:**
CGPA :- 8.86 (Current)
Senior Secondary CBSE Board 92.2% 2022
Secondary CBSE Board 94.8% 2020
**Projects:** Blockchain digital identity platform, Interactive leaderboard, Diabetic macular edema segmentation
**Skills:** Python, C/C++, Solidity, HTML, CSS, JavaScript, Keras, Tensorflow, Pytorch
**Achievements:**
- JEE Mains :- AIR 371/1.2M
- JEE Advanced :- AIR 514/250K
- KVPY SA :- AIR 871
- KVPY SX :- CRL 993
- Codeforces :- World Rank 430, Rating 1501
- Scholarship :- Reliance Foundation
- ICPC-de-Tryst :- Rank 68
- Hackathon :- ML Hackathon 3rd Place

**Positions of Responsibility: **
- Coordinator, Coding Club, IIT Guwahati ,
- Associate, Consulting and Analytics Club

Resume :-
 '''

In [56]:
companyCriteria=""""""
#input should be provided here
jobProfile="""Technical"""

In [57]:
resumeSummary1 = model.generate_content(instruction1 + extracted_text)
resumeSummary2 = model.generate_content(instruction1 + extracted_text2)

In [58]:
#print(ressume)
print(resumeSummary1.text)

**Summary:**

**Name:** Sneh Dadhania
**Degree:** B.Tech - Mathematics and Computing
**College:** Indian Institute Of Technology, Guwahati
**Education:**
CGPA: 8.22 (Current)
Senior Secondary: CBSE Board, 94.8% (2022)
Secondary: CBSE Board, 93.4% (2020)
**Projects:**
- MathQuery Resolver
- Generic Data Encryption Service
- Airline Ticket Booking Website
- Options and its Pricing Models
**Skills:**
- Programming languages: C, C++, Python, JavaScript
- Database: MySQL, MongoDB, Redis
- Backend and Frontend: HTML, CSS, Node.js, Express.js
- Miscellaneous: Postman, Swagger, Langchain, LaTeX
**Achievements:**
- JEE Advanced: AIR 893
- JEE Mains: AIR 2403
- CodeChef: Global Rank 124 in Starters 140
- Codeforces: Global Rank 1159 in Round 944

In [59]:
if (jobProfile == "Technical"):

  analyzePrompt = """
  Input has summarisations of resumes of two candidates for a job. You are an impeccable resume comparer who quantifies the given resumes on the basis of some standards and gives them a score out of 100
  2)return in json format number of tuples equal to the number of resumes provided with their respective values.
  VALUES AT THE SAME INDEX IN ALL TUPLES MUST POINT AT THE SAME SKILL, these values are some numbers
  3)The tuples returned should have the identification skill and their specific values
  4)A tuple should contain jee mains rank ,jee advanced rank, codeforces rating,codeforces contest rank,codechef rating, cpi, 12th board percentage,
  10th board percentage,number of internships,number of research internships,total experience for a technical resume
  The above provided set of attributes should be there in the returned tuples always
  5)Each indice of the tuples should point to the same skill
  7)Return n tuples where n = number of resumes provided
  8)Your motive is the list all the quantifiable skills in a tuple format , assign each of the skillset the explicit value as mentioned in the resume
  assign the value null, wherever required (an quanttifiable value that is a number)
  9)If some resume hasnt mentioned the codechef rating,you can assign the value null
  and assign them with null if not present in the given resume , or with the provided value in the resume
  10)Only assign mathematically comparable values in the tuples, the value of each tuple should be mathematical value, not a string
  11)You cant provide the value of some other index to some other index, for example dont add the rating/rank of two different competitions or
  platforms at the same index, create new index and provide the value at the new index and assign it None for the resumes which dont have it
  12)Return the same number of tuples as the number of resumes provided
  13)same set of attributes for each resume should be returned
  14) These are the basic attributes which each tuple should always contain, further attributes to be added will also be mentioned in the
  next queries, which should be added, accordingly with None values if not present or the provided mathematical value(or count) in the resume
  """


if (jobProfile == "Financial"):
  analyzePrompt = """
  Input contains summaries of resumes of several candidates for a financial position. You are an expert resume comparer who quantifies the given resumes on the basis of industry standards and assigns a score out of 100.
  2) Return in JSON format a number of tuples equal to the number of resumes provided, each containing their respective values.
    VALUES AT THE SAME INDEX IN ALL TUPLES MUST POINT AT THE SAME SKILL; these values are numerical.
  3) The tuples returned should have the identification skill and their specific values.
  4) A tuple should contain MBA entrance exam score (if applicable), CFA level passed, GMAT score,
  financial modeling certification score, number of years in financial sector, number of internships, number of finance-specific
  research projects, total experience in finance, 12th board percentage, 10th board percentage, and CPI.
  The above-provided set of attributes should always be present in the returned tuples.
  5) Each index of the tuples should point to the same skill across all resumes.
  7) Return n tuples where n equals the number of resumes provided.
  8) Your motive is to list all the quantifiable skills in a tuple format, assign each of the skill sets the explicit value as mentioned in the resume.
    Assign the value None wherever required (any quantifiable value that is a number).
  9) If some resume hasn't mentioned the GMAT score, you can assign the value None.
    Assign them with null if not present in the given resume, or with the provided value in the resume.
  10) Only assign mathematically comparable values in the tuples; the value of each tuple should be a mathematical value, not a string.
  11) You can't provide the value of some other index to some other index; for example, don’t add the score of two different exams at the same index. Create a new index and provide the value at the new index and assign it null for the resumes which don’t have it.
  12) Return the same number of tuples as the number of resumes provided.
  13) The same set of attributes for each resume should be returned.
  14) These are the basic attributes which each tuple should always contain; further attributes to be added will also be mentioned in the next queries, which should be added accordingly with null values if not present or the provided mathematical value (or count) in the resume.
  """

if (jobProfile == "Designer"):
  analyzePrompt = """
  Input contains summaries of resumes of several candidates for a design position. You are an expert resume comparer who quantifies the given resumes based on industry standards and assigns a score out of 100.
  2) Return in JSON format a number of tuples equal to the number of resumes provided, each containing their respective values.
    VALUES AT THE SAME INDEX IN ALL TUPLES MUST POINT AT THE SAME SKILL; these values are numerical.
  3) The tuples returned should have the identification skill and their specific values.
  4) A tuple should contain scores or levels for design-related qualifications including Adobe Creative Suite proficiency score, UX/UI certification score, graphic design portfolio rating, number of design projects completed, number of design internships, number of design awards won, total experience in design, 12th board percentage, 10th board percentage, and CPI.
    The above-provided set of attributes should always be present in the returned tuples.
  5) Each index of the tuples should point to the same skill across all resumes.
  7) Return n tuples where n equals the number of resumes provided.
  8) Your motive is to list all the quantifiable skills in a tuple format, assign each of the skill sets the explicit value as mentioned in the resume.
    Assign the value null wherever required (any quantifiable value that is a number).
  9) If a resume hasn't mentioned the UX/UI certification score, you can assign the value None.
    Assign them with null if not present in the given resume, or with the provided value in the resume.
  10) Only assign mathematically comparable values in the tuples; the value of each tuple should be a mathematical value, not a string.
  11) You can't provide the value of some other index to some other index; for example, don’t add the proficiency score of one software as a substitute for another. Create a new index and provide the value at the new index and assign it null for the resumes which don’t have it.
  12) Return the same number of tuples as the number of resumes provided.
  13) The same set of attributes for each resume should be returned.
  14) These are the basic attributes which each tuple should always contain; further attributes to be added will also be mentioned in the next queries, which should be added accordingly with null values if not present or the provided mathematical value (or count) in the resume.
  """

In [60]:
response = model.generate_content([resumeSummary1.text, resumeSummary2.text, analyzePrompt, companyCriteria])
print(response.text)

```json
[
  {
    "jee_mains_rank": 2403,
    "jee_advanced_rank": 893,
    "codeforces_rating": null,
    "codeforces_contest_rank": null,
    "codechef_rating": 124,
    "cpi": 8.22,
    "12th_board_percentage": 94.8,
    "10th_board_percentage": 93.4,
    "number_of_internships": null,
    "number_of_research_internships": null,
    "total_experience": null
  }
]
```

In [61]:
template = {
    "jee_mains_rank": {"weight": 0.05, "default":  2000, "prefers_higher": False},
    "jee_advanced_rank": {"weight": 0.05, "default": 2000, "prefers_higher": False},
    "codeforces_rating": {"weight": 0.15, "default": 0, "prefers_higher": True},
    "codeforces_contest_rank": {"weight": 0.1, "default": 0, "prefers_higher": False},
    "codechef_rating": {"weight": 0.1, "default": 0, "prefers_higher": True},
    "cpi": {"weight": 0.2, "default": 0, "prefers_higher": True},
    "board_12th_percentage": {"weight": 0.05, "default": 0, "prefers_higher": True},
    "board_10th_percentage": {"weight": 0.05, "default": 0, "prefers_higher": True},
    "number_of_projects": {"weight": 0.1, "default": 0, "prefers_higher": True},
    "number_of_internships": {"weight": 0.05, "default": 0, "prefers_higher": True},
    "number_of_research_experience": {"weight": 0.1, "default": 0, "prefers_higher": True},
    "total_experience": {"weight": 0.1, "default": 0, "prefers_higher": True}
}

In [62]:
import json
import re

def create_scores_dict(json_str, template):
    def normalize_entry(entry, max_values, min_values, template):
        normalized_entry = {}
        for key in template.keys():
            value = entry.get(key)
            if value is not None:
                if template[key]['prefers_higher']:
                    if max_values[key] == min_values[key]:
                        normalized_entry[key] = 1
                    else:
                        normalized_entry[key] = (value - min_values[key]) / (max_values[key] - min_values[key])
                else:
                    if max_values[key] == min_values[key]:
                        normalized_entry[key] = 1
                    else:
                        normalized_entry[key] = 1 - (value - min_values[key]) / (max_values[key] - min_values[key])
            else:
                normalized_entry[key] = template[key]['default']
        return normalized_entry

    def calculate_total_score(normalized_entry, template):
        total_score = 0
        for key, value in normalized_entry.items():
            total_score += value * template[key]['weight']
        return total_score

    def format(input_string):
      # Define a regular expression pattern to match non-keyboard characters
      pattern = r'[^\x20-\x7E]'
      # Use the re.sub() function to replace all non-keyboard characters with an empty string
      cleaned_string = re.sub(pattern, '', input_string)
      return cleaned_string
      # Initialize scores dictionary

    scores_dict = {}
    #print(json_str)

    json_str = json_str[json_str.find("["):json_str.find("]") + 1].strip()
    #print(json_str)

    json_str = format(json_str)

    #print(json_str)

    json_str = json_str.replace("\'", "")

    #print(json_str)

    data = json.loads(json_str)

    # Find the maximum and minimum values for each attribute across all entries
    max_values = {key: float('-inf') for key in template}
    min_values = {key: float('inf') for key in template}
    for entry in data:
        for key, value in entry.items():
            if key in template and value is not None:
                max_values[key] = max(max_values[key], value)
                min_values[key] = min(min_values[key], value)

    # Normalize each entry using the maximum values and calculate total scores
    for idx, entry in enumerate(data, start=1):
        normalized_entry = normalize_entry(entry, max_values, min_values, template)
        total_score = calculate_total_score(normalized_entry, template)
        scores_dict[idx] = total_score

    return scores_dict

In [63]:
test = response.text

In [64]:
#map_list = json.loads(der)

In [65]:
create_scores_dict(test, template)

{1: 0.4}

In [66]:
# Assuming iss point tak ek pandas dataframe hai
import pandas as pd
dict = {"Client Name": [], "Bank Name": [], "Account Number": [], "Transaction Date":[],"Credit/Debit": [] ,"Description ":[], "Amount":[],"Balance":[]}
df = pd.DataFrame(dict)
df

Empty DataFrame
Columns: [Client Name, Bank Name, Account Number, Transaction Date, Credit/Debit, Description , Amount, Balance]
Index: []

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import streamlit as st

In [4]:
# Create/connect to a database
conn = sqlite3.connect('financial_data.db')
cursor = conn.cursor()

# Create a table structure for extracted data
cursor.execute('''CREATE TABLE IF NOT EXISTS transactions (
                     id INTEGER PRIMARY KEY,
                     client_name TEXT,
                     bank_name TEXT,
                     account_number TEXT,
                     transaction_date TEXT,
                     credit_debit TEXT,
                     description TEXT,
                     amount REAL,
                     balance REAL
                  )''')

conn.commit()

In [69]:
import sqlite3
import pandas as pd
import numpy as np
from faker import Faker

# Initialize Faker
fake = Faker()

# Step 1: Generate random data
def generate_random_data(num_rows=10):
    data = {
        'client_name': [fake.name() for _ in range(num_rows)],
        'bank_name': [fake.company() for _ in range(num_rows)],
        'account_number': [fake.random_number(digits=10) for _ in range(num_rows)],
        'transaction_date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(num_rows)],
        'credit_debit': [np.random.choice(['Credit', 'Debit']) for _ in range(num_rows)],
        'description': [fake.text(max_nb_chars=50) for _ in range(num_rows)],
        'amount': [round(np.random.uniform(100, 10000), 2) for _ in range(num_rows)],
        'balance': [round(np.random.uniform(1000, 100000), 2) for _ in range(num_rows)],
    }
    df = pd.DataFrame(data)
    return df

data = generate_random_data(10)
data

,client_name,bank_name,account_number,transaction_date,credit_debit,description,amount,balance
0,Dennis Elliott,Ramirez-Bryant,2555189089,2022-11-11,Debit,Model kid business front.,9735.38,5665.78
1,Jennifer Garcia,Yates-Williams,4146518100,2024-05-30,Credit,Cup ready wall fund.,9895.91,36917.12
2,Robert Parker,Mcintyre and Sons,3923789319,2023-02-12,Debit,Message administration risk worker already.,6401.98,43218.68
3,Shawn Brown,Duarte Ltd,7951492869,2023-11-07,Debit,Follow will at expert.,3827.66,49462.30
4,Lindsey Mckinney,Roth Group,7905036678,2023-02-03,Credit,Reason condition until.,2493.21,37711.95
5,Jason Lawrence,"Evans, Tran and Henderson",1096520923,2024-05-09,Credit,Former tend quite point box treat.,6054.51,99455.35
6,April Thompson,"Wall, Wade and Gonzalez",7401924323,2024-04-28,Debit,Ask realize ago management example center.,4819.74,42437.70
7,Jesse Kelly,Williams-Wood,5579933434,2024-09-20,Debit,Television commercial approach experience parent.,2698.92,72650.87
8,Danielle Sampson,Padilla Group,1767795832,2023-08-12,Debit,North catch likely best.,7242.01,14239.71
9,Christopher Thomas,"Davidson, Hester and Hernandez",7015871966,2022-11-16,Debit,My test approach individual I visit well.,6590.42,27102.51

In [1]:

# Step 2: Create transactions table in SQLite if it doesn't exist
def create_table():
    conn = sqlite3.connect('financial_data.db')
    cursor = conn.cursor()
    
    cursor.execute('''CREATE TABLE IF NOT EXISTS transactions (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        client_name TEXT,
                        bank_name TEXT,
                        account_number TEXT,
                        transaction_date TEXT,
                        credit_debit TEXT,
                        description TEXT,
                        amount REAL,
                        balance REAL
                    )''')
    conn.commit()
    conn.close()

create_table()

# Step 3: Insert DataFrame data into the SQLite database
def insert_data_into_db(df):
    conn = sqlite3.connect('financial_data.db')
    cursor = conn.cursor()
    
    for _, row in df.iterrows():
        cursor.execute('''INSERT INTO transactions (client_name, bank_name, account_number, 
                                                    transaction_date, credit_debit, description, 
                                                    amount, balance)
                          VALUES (?, ?, ?, ?, ?, ?, ?, ?)''', 
                       (row['client_name'], row['bank_name'], row['account_number'], 
                        row['transaction_date'], row['credit_debit'], row['description'], 
                        row['amount'], row['balance']))
    
    conn.commit()
    conn.close()

# insert_data_into_db(data)

# Step 4: Fetch and display data from the database
def fetch_data_from_db():
    conn = sqlite3.connect('financial_data.db')
    query = "SELECT * FROM transactions"
    df = pd.read_sql(query, conn)
    conn.close()
    return df

# Fetch and display the data
data_from_db = fetch_data_from_db()
print(data_from_db)

NameError: name 'sqlite3' is not defined

In [77]:
import streamlit as st
import pandas as pd
import sqlite3
import numpy as np
from io import BytesIO
from faker import Faker

# Initialize Faker
fake = Faker()

# Step 1: Generate random data (for testing purposes if needed)
def generate_random_data(num_rows=10):
    data = {
        'client_name': [fake.name() for _ in range(num_rows)],
        'bank_name': [fake.company() for _ in range(num_rows)],
        'account_number': [fake.random_number(digits=10) for _ in range(num_rows)],
        'transaction_date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(num_rows)],
        'credit_debit': [np.random.choice(['Credit', 'Debit']) for _ in range(num_rows)],
        'description': [fake.text(max_nb_chars=50) for _ in range(num_rows)],
        'amount': [round(np.random.uniform(100, 10000), 2) for _ in range(num_rows)],
        'balance': [round(np.random.uniform(1000, 100000), 2) for _ in range(num_rows)],
    }
    df = pd.DataFrame(data)
    return df

# Step 2: Create transactions table in SQLite if it doesn't exist
def create_table():
    conn = sqlite3.connect('financial_data.db')
    cursor = conn.cursor()
    
    cursor.execute('''CREATE TABLE IF NOT EXISTS transactions (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        client_name TEXT,
                        bank_name TEXT,
                        account_number TEXT,
                        transaction_date TEXT,
                        credit_debit TEXT,
                        description TEXT,
                        amount REAL,
                        balance REAL
                    )''')
    conn.commit()
    conn.close()

create_table()

# Step 3: Insert DataFrame data into the SQLite database
def insert_data_into_db(df):
    conn = sqlite3.connect('financial_data.db')
    cursor = conn.cursor()
    
    for _, row in df.iterrows():
        cursor.execute('''INSERT INTO transactions (client_name, bank_name, account_number, 
                                                    transaction_date, credit_debit, description, 
                                                    amount, balance)
                          VALUES (?, ?, ?, ?, ?, ?, ?, ?)''', 
                       (row['client_name'], row['bank_name'], row['account_number'], 
                        row['transaction_date'], row['credit_debit'], row['description'], 
                        row['amount'], row['balance']))
    
    conn.commit()
    conn.close()

# Step 4: Fetch and display data from the database
def fetch_data_from_db():
    conn = sqlite3.connect('financial_data.db')
    query = "SELECT * FROM transactions"
    df = pd.read_sql(query, conn)
    conn.close()
    return df

# Step 5: Upload PDF and Extract Data
def upload_and_extract_data():
    st.header("Upload a PDF file")
    uploaded_file = st.file_uploader("Choose a PDF file", type="pdf")
    
    if uploaded_file is not None:
        # Simulate PDF processing (Replace with your data extraction code)
        st.info("Processing the PDF file...")
        
        # Extract data (replace with your actual data extraction logic)
        # DATA EXTRACTION CODE HERE
        
        # For testing, we generate random data (replace with your extracted data)
        data = generate_random_data(5)  # replace 5 with the number of rows extracted
        
        # Display the extracted data
        st.dataframe(data)
        
        # Save to database
        if st.button("Save Extracted Data to Database"):
            insert_data_into_db(data)
            st.success("Data saved to the database successfully!")
        
        return data

# Step 6: Display and Edit Data
def display_and_edit_data():
    data_from_db = fetch_data_from_db()
    if len(data_from_db) > 0:
        st.subheader("Edit Data")
        st.dataframe(data_from_db)
        
        selected_id = st.number_input('Enter the row ID to edit', min_value=1, max_value=len(data_from_db), step=1)
        
        if st.button("Update Selected Row"):
            st.write(f"Updating row ID: {selected_id}")
            # Update logic goes here (e.g., pop-up form for user input)
            # For now, just a placeholder for editing functionality
            st.info("Edit functionality will go here.")
    else:
        st.write("No data available for editing yet.")

# Streamlit App Main Logic
def main():
    st.title("BIC Bank Financial Data Processing")
    
    # Step 5: Upload and Extract Data from PDF
    extracted_data = upload_and_extract_data()

    # Step 6: Display and Edit Existing Data from Database
    if extracted_data is not None:
        display_and_edit_data()

if __name__ == "__main__":
    main()

2024-10-20 06:17:28.983 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.987 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.989 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.990 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.991 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.993 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:28.994 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:29.003 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-20 06:17:29.004 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.